@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="col-md-3">
        <h2>Artists</h2>
        <ul>
            @foreach (var a in Model)
            {
                <li>@a.Name</li>
            }
        </ul>
    </div>
</div>
